.register-form {
    margin: 0 auto;
    width: 50%;
}
.register-form input:not([type=checkbox]){
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border:1px solid lightgray;
    padding-left: 10px;
    font-size: 18px;
    margin: 10px 0;
    
}

@media only screen and (max-width: 508px) {
    .register-form {
        /* margin: 0 auto; */
        width: 70%;
        padding: 0;
    }
  }